* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #eeeeee;
}
body.escuro{
    background-color: #212121;
}
body.escuro header{
    background-color: #FF5522;
}
body.escuro header i{
    color: #000000;
}
body.escuro header li:hover{
    background-color: #ff8662;
}
body.escuro header i:hover{
    color:#FF5522
}
body.escuro #sobremin{
    background-color: #444444;
}body.escuro #sobremin img{
    border: 4px solid#FF5522;
}
body.escuro #sobremin h2{
    color: #FF5522;
}
body.escuro #sobremin p{
    color: #f4f4f4;
}
body.escuro #sobremin #social i{
    color:#FF5522;
}
body.escuro #sobremin #social i:hover{
    color:#fb8e6c;
}
body.escuro #apresenta{
    background-color: #444444;
}
body.escuro #apresenta #deixe h2{
    color: #FF5522;
}
body.escuro #apresenta #deixe i{
    color: #FF5522;
}
body.escuro #skills{
    background-color: #444444;
}

body.escuro #skills #minhas-skills h2{
    color: #FF5522;
}
body.escuro #skills #minhas-skills i{
    color: #FF5522;
}
body.escuro #skills .skill div{
    color: #ffffff;
}
body.escuro #skills .skill > .porcent{
    color:#FF5522
}
body.escuro #skills > .por{
    background-color: #FF5522;
}
body.escuro #formacao{
    background-color: #444444;
}
body.escuro #formacao #form h2{
    color: #FF5522;
}
body.escuro #formacao #form i{
    color: #FF5522;
}
body.escuro #formacao .formacoes{
    background-color: #FF5522;
}
body.escuro #formacao .formacoes:hover{
    background-color: #FF5522;
}
body.escuro #formacao .formacoes .infors{
    background-color: #161616;
}
body.escuro #formacao .formacoes .infors .pqueno{
    color: #ffffff;
}
body.escuro #formacao .formacoes .infors .pnormal{
    color: #ffffff;
}
body.escuro #formacao .formacoes .infors .pgrande{
    color:#FF5522
}
body.escuro #projetos{
    background-color:#444444;
}
body.escuro #projetos #cabe h2{
    color: #FF5522;
}
body.escuro #projetos #cabe i{
    color: #FF5522;
}
body.escuro #projetos .contimg{
    background-color: #FF5522;
}
body.escuro #projetos .contimg .infors{
    background-color:#161616;
}
body.escuro #projetos .contimg .infors p{
    color: #eeeeee;
}
body.escuro #projetos .contimg details{
    color: #eeeeee;
}
body.escuro #projetos .contimg details p{
    color: #eeeeee;
    background-color: #1a1a1a;
}
body.escuro footer{
    color: #161616;
    background-color: #FF5522;
}
body.escuro footer a{
    color: #181818;
}
body.escuro footer a:hover{
    color: #5d5d5d;
}

header {

    background-color: #0077FF;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    nav {


        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            

            li {
                padding: 15px;
                margin-right: 10px;
                border-radius: 10px;
                transition-duration: 0.6s;
                
                

                i {
                    color: aliceblue;
                    font-size: 1.1em;
                    transition-duration: 0.6s;
                }
                i:hover{
                    color: #0077FF;
                }


            }
            li:hover{
                background-color: #77b4fb;
            }
                

        }

    }
}

main {
    margin-top: 10px;
    display: grid;
    grid-template: repeat(5, auto)/ 5% 1fr 5%;



    #sobremin {
        display: flex;
        flex-flow: column nowrap;
        grid-row: 1 / 2;
        grid-column: 2/ 3;
        margin-top: 50px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;





        img {
            height: 300px;
            width: 300px;
            align-self: center;
            border-radius: 60%;
            padding: 5px;
            border: 4px solid #0077FF;
            margin: 10px;
            object-fit: cover;
        }

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            color: #0077FF;
            margin: 10px 0px;
        }

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 10px 0px;
            line-height: 1.7em;
        }

        #social {
            display: flex;

            justify-content: center;
            margin-top: 10px;

            a {




                i {
                    font-size: 1.8em;
                    margin: 0px 5px;
                    color: #0077FF;
                    transition-duration: 0.6s;
                }
                i:hover{
                    color: #77b4fb;
                }
            }

        }


    }

    #apresenta {
        margin-top: 55px;
        grid-row: 2 /3;
        grid-column: 2/ -2;
        display: flex;
        flex-flow: column;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 10px;


        #video {
            position: relative;
            width: 100%;
            margin: auto;
            aspect-ratio: 16 / 9;

            iframe {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }

        #deixe {
            display: flex;
            margin: 15px 0px;

            h2 {
                color: #0077FF;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            i {
                color: #0077FF;
                font-size: 1.5em;
                margin-right: 10px;
                margin-top: 5px;
            }
        }


    }


    #skills {
        grid-row: 3/4;
        grid-column: 2 / 3;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        scroll-margin-top: 60px;

        #minhas-skills {
            display: flex;


            h2 {
                color: #0077FF;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            i {
                color: #0077FF;
                font-size: 1.5em;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .skill {
            font-family: sans-serif;
            display: flex;
            margin: 15px 0px;
            justify-content: space-between;


            div {
                display: flex;

                i {
                    margin-right: 6px;
                    margin-top: 3px;
                }

                p {
                    font-size: 1.3em;
                }
            }

            p.porcent {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4em;
                color: #0077FF;
            }
        }

        .por {
            background-color: #0077FF;
            height: 10px;
            border-radius: 10px;
        }

        #i90 {
            width: 90%;
        }

        #i80 {
            width: 80%;
        }

        #i75 {
            width: 75%;
        }

        #i60 {
            width: 60%;
        }

        #i100 {
            width: 100%;
        }

        #i85 {
            width: 85%;
        }
    }


    #formacao {
        grid-row: 4 / 5;
        grid-column: 2/3;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        scroll-margin-top: 60px;

        #form {
            display: flex;


            h2 {
                color: #0077FF;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            i {
                color: #0077FF;
                font-size: 1.5em;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .formacoes {
            width: 70%;
            height: 90px;
            border-radius: 9px;
            background-color: #0077FF;
            margin: 10px 0px;


            .infors {
                height: 100%;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                transform: translateX(8px);
                transition-duration: 0.6s;
                display: flex;
                flex-direction: column;


                .pqueno {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    margin-left: 12px;
                    margin-top: 7px;
                }

                .pgrande {
                    color: #0077FF;
                    font-size: 1em;
                    margin-left: 9px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                }

                .pnormal {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 10px;
                    margin-top: 3px;
                    min-width: 400px;
                    color: #000000;
                }

            }

            .infors:hover {
                transform: translateX(17px);

            }
        }

        .formacoes:hover {
            background-color: #015cc5;
        }



    }


    #projetos {
        grid-row: 5/6;
        grid-column: 2 / 3;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
        scroll-margin-top: 60px;




        #cabe {
            display: flex;


            h2 {
                color: #0077FF;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            i {
                color: #0077FF;
                font-size: 1.5em;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }




        .contimg {
            width: 70%;
            flex: 1 1 400px;
            border-radius: 9px;
            background-color: #0077FF;
            margin: 10px 0px;
            width: 90%;

            img {
                width: 90%;
                padding: 10px;
                border-radius: 20px;
            }


            .infors {
                height: 100%;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                transform: translateX(8px);
                transition-duration: 0.6s;
                display: flex;
                flex-direction: column;

                .pgrande {
                    color: #000000;
                    font-size: 1.3em;
                    margin-left: 9px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                }

                p {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 10px;
                    margin-top: 3px;
                    margin-bottom: 5px;
                }
                img{
                    align-self: center;
                }

            }
            summary{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: lighter;
            }

            details {
                font-size: 1.2em;
                margin-left: 10px;
                margin-bottom: 18px;

                p {
                    font-family: Helvetica, sans-serif;
                    font-weight: lighter;
                    font-size: 0.9em;
                    background-color: #f9f9f9;
                    padding: 10px;
                    margin-left: -10px;
                    border-radius: 10px;
                }
            }

            .infors:hover {
                transform: translateX(17px);

            }
        }

        .formacoes:hover {
            background-color: #015cc5;
        }
    }
}

footer {
    background-color: #0077FF;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    a {
        font-weight: bold;
        text-decoration: none;
        color: #f4f4f4;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}